/* variables */

$outline-error : #D32F2F;
$outline-focus : #2962FF;
$border_radius : 8px;
$default_boder : 1px solid #828282;
$base_padding : #F2F2F2;
$disabled_bg : #F2F2F2;
$error_boder: 1px solid #D32F2F;
$border_hover : 1px solid #333333;
$error_hover : 1px solid #333333;

body {
  margin: auto;
  max-width: 900px;
}

/*general rules for the inputs*/
[type="text"] {
  display: block;
  margin-block: 1rem;
  padding: .7rem;
  border: $default_boder;
  border-radius: $border_radius;
}

[type="text"]:hover {
  border: $border_hover;
}

[type="text"]:disabled {
  pointer-events: none;
}

[type="text"]:hover ~ label {
  color: $border_hover;
}

/*layouts of the inputs*/
.container  {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}

label {
  margin-block-start: 1rem;
}

/* reverse the order text */
.wrapper {
  display: flex;
  flex-direction: column-reverse;
}

span {
  order: 1;
}

label {
  order: 3;
}

input {
  order: 3;
}

/* error style*/
.error:hover {
  border: $error_hover;
}

.error:hover ~ * {
  color: #828282;
}

.error {
  border: $error_boder;
}

.error:focus,
.error:active {
  outline: none;
  border: $error_boder;
}

.error:focus ~ *,
.error:active ~ * {
  color: $outline-error;
}

input.error ~ * {
  color: $outline-error;
}

/* input focus*/

input:active,
input:focus {
  outline: none;
  border: solid 1px $outline-focus;
}

input:active ~ *,
input:focus ~ * {
  color: $outline-focus;
}

/*full widht input*/
.fullwidth {
 width: 80vw;
 max-width: 900px; 
}

/*disabled input*/
input:disabled {
  border: none;
}

/*multiline text */
.multiline.row4 {
  width: 25vw;
  height: 25vh;
}

/*********** Icons style ****************/
.wrapper {
  position: relative;
}

.fa {
  display: block;
  position: absolute;
  bottom: 20%;
  transform: translateY(-50%);
}

.fa.left ~ [type="text"] {
  padding-left: 3rem;
}

.fa.right ~ [type="text"] {
  padding-right: 3rem;
}


.fa.left {
  margin-inline-start: 1rem;
  left: 0;
}

.fa.right {
  right: 0;
  margin-inline-end: 1rem;
}

/* Input size*/

.sm {
  padding: 1rem;
}

.md {
  padding: 1.5rem;
}

.lg {
  padding: 2rem;
}

/* textaria style*/
textarea {
  margin-block-start: 1rem;
  display: block;
  border-radius: 8px;
}